{% extends 'main.html' %}

{% load static %}

{% block content %}

<div class="container h-100">
    <div class="d-flex justify-content-center my-5 h-100">
        <div>
            <div class="d-flex justify-content-center my-4">
                <h3 id="form-title">Stock Entry</h3>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form id="myForm" method="POST" action="">
                    {% csrf_token %} {{ form.as_p }}
                    <label>Stock Entry No:</label>
                    <input type="text" name="stock_entry_no" placeholder="Stock Entry No..." class="form-control"
                           required>

                    <label>Product Issue No: <strong>{{ product_issue.issue_no }}</strong> </label>
                    <br>
                    <label>Products Details</label>
                    <table class="table" id="product-table">
                        <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>UOM</th>
                            <th>QTY</th>
                            <th>Rate</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="row-template">
                            <td><small>{{ product_issue.product.product_name }}</small></td>
                            <td>{{ product_issue.product.uom }}</td>
                            <td><input type="number" name="qty" id="qty" step="0.01" class="form-control"
                                       value="{{ product_issue.total_qty }}" required>
                            <td><input type="number" name="rate" id="rate" step="0.01" class="form-control"
                                       value="{{ product_issue.unit_price }}" required>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-success" type="submit">Save</button>
                </form>

            </div>
            {% if messages %}
            <div class="alert alert-info" role="alert">
                {% for message in messages %}
                <p id="messages"> {{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}


        </div>
    </div>
</div>


{% endblock %}
