{% extends 'main.html' %}

{% load static %}

{% block content %}


<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <h3 id="form-title">Create Sales Order</h3>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form id="myForm" method="POST" action="">
                    {% csrf_token %} {{ form.as_p }}
                    <label>Sales Order No:</label>
                    <input type="text" name="sales_order_no" placeholder="Sales Order No..." class="form-control"
                           required>
                    <label>Description:</label>
                    <input type="text" name="description" placeholder="Add Description..." class="form-control"
                           required>

                    <br>
                    <label>Add Products</label>
                    <table class="table" id="product-table">
                        <thead>
                        <tr>
                            <th>Product</th>
                            <th>UOM</th>
                            <th>QTY</th>
                            <th>Rate</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="row-template">
                            <td><select name="product[]" id="product" class="form-control">
                                <option disabled>Select Product</option>
                                {% for product in products %}
                                <option value="{{ product.pk }}">{{ product.product_name }}</option>
                                {% endfor %}
                            </select></td>
                            <td><input type="text" name="uom[]" id="uom" class="form-control" required></td>
                            <td><input type="number" name="qty[]" id="qty" step="0.01" class="form-control" required>
                            <td><input type="number" name="rate[]" id="rate" step="0.01" class="form-control" required>
                            </td>
                            <td>
                                <button type="button" class="remove-row btn btn-outline-danger">Remove</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-outline-info" type="button" id="add-row">Add Row</button>
                        <button class="btn btn-success" type="submit">Save</button>
                    </div>
                </form>

            </div>
            {% for message in messages %}
            <p id="messages"> {{ message }}</p>
            {% endfor %}


        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var rowTemplate = $('#row-template').html();
        $('#add-row').click(function () {
            $('#product-table tbody').append('<tr>' + rowTemplate + '</tr>');
        });
        $(document).on('click', '.remove-row', function () {
            $(this).closest('tr').remove();
        });
    });
</script>
{% endblock %}
