{% extends 'main.html' %}

{% load static %}

{% block content %}

<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div>
            <div class="d-flex justify-content-center">
                <h3 id="form-title">Make Purchase Receipt</h3>
            </div>
            <div class="d-flex justify-content-center form_container">
                <form id="myForm" method="POST" action="">
                    {% csrf_token %} {{ form.as_p }}
                    <label>Purchase Receipt No:</label>
                    <input type="text" name="purchase_receipt_no" placeholder="Purchase Receipt No..."
                           class="form-control"
                           required>


                    <label>Description:</label>
                    <input type="text" name="description" placeholder="Add Description..." class="form-control"
                           required>

                    <br>
                    <label>Products Details</label>
                    <table class="table" id="product-table">
                        <thead>
                        <tr>
                            <th hidden="hidden">Product</th>
                            <th>Product Name</th>
                            <th>UOM</th>
                            <th>QTY</th>
                            <th>Rate</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for po in purchase_order_products %}
                        <tr id="row-template">
                            <td hidden="hidden"><input type="text" name="product[]" class="form-control" readonly
                                                       value="{{ po.product.pk }}"></td>
                            <td>{{ po.product.product_name }}</td>
                            <td><input type="text" name="uom[]" id="uom" class="form-control" readonly required
                                       value="{{ po.uom }}"></td>
                            <td><input type="number" name="qty[]" id="qty" step="0.01" class="form-control" readonly
                                       required value="{{ po.qty }}">
                            <td><input type="number" name="rate[]" id="rate" step="0.01" class="form-control" readonly
                                       required value="{{ po.rate }}"></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-right">
                        <button class="btn btn-success" type="submit">Save</button>
                    </div>
                </form>

            </div>
            {% if messages %}
            <div class="alert alert-info" role="alert">
                {% for message in messages %}
                <p id="messages"> {{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}


        </div>
    </div>
</div>


{% endblock %}
