{% extends 'main.html' %}

{% load static %}

{% block content %}

<div class="container vh-100">
    <div class="row py-5">
        <div class="col-md-12">
            <h2 class="text-center"><b>Delivery Challan List</b></h2>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr class="table-success">
                    <th scope="col">SL No</th>
                    <th scope="col">Delivery Challan No</th>
                    <th scope="col">Sales Order No</th>
                    <th scope="col">Creator</th>
                    <th scope="col">Date</th>
                    <th scope="col">Description</th>
                    <th scope="col">Total Qty</th>
                    <th scope="col">Total</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for dc in deliveryChallanList %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ dc.delivery_challan_no }}</td>
                    <td>{{ dc.sales_order.sales_order_no }}</td>
                    <td>{{ dc.creator.first_name }} &nbsp; {{ dc.creator.last_name }}</td>
                    <td>{{ dc.date }}</td>
                    <td>{{ dc.description }}</td>
                    <td>{{ dc.total_qty }}</td>
                    <td>{{ dc.total }}</td>
                    <td>
                        <!--                        <button class="btn btn-outline-info"><a href="{% url 'valueChainApp:product-issue-details' dc.id %}">Details</a></button>-->
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}
