{% extends 'main.html' %}

{% load static %}

{% block content %}


<div class="container vh-100">
    <div class="row my-5">
        <div class="col-md-12">
            <p><b>Delivery Challan No: </b> &nbsp; {{ delivery_challan.delivery_challan_no }}</p>
            <p><b>Creator: </b> &nbsp; {{ delivery_challan.creator.first_name }}</p>
            <p><b>Date: </b> &nbsp; {{ delivery_challan.date }}</p>
            <p><b>Description: </b> &nbsp; {{ delivery_challan.description }}</p>
            <p><b>Sales Order No: </b> &nbsp; {{ delivery_challan.sales_order.sales_order_no }}</p>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr class="table-success">
                    <th scope="col">SL No</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">UOM</th>
                    <th scope="col">QTY</th>
                    <th scope="col">Rate</th>

                </tr>
                </thead>
                <tbody>
                {% for dc in delivery_challan_products %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ dc.product.product_name }}</td>
                    <td>{{ dc.uom }}</td>
                    <td>{{ dc.qty }}</td>
                    <td>{{ dc.rate }}</td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>

{% endblock %}
