{% load static %}

<div class="container-fluid footer-bg">
        <div class="row pt-5">
          <div class="text-center">
            <h3>Muslims Apparel</h3>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8 d-flex justify-content-around my-3 footer-menu">
            <a href="">Home</a>
            <a href="">Services</a>
            <a href="">About</a>
            <a href="">Products</a>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8 d-flex justify-content-evenly my-3 social-icon">
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-instagram"></i></a>
            <a href=""><i class="fa fa-whatsapp"></i></a>
          </div>
        </div>

      </div>

<!-- footer end -->

