{% extends 'main.html' %}

{% load static %}

{% block content %}




    <div class="container-fluid">
        <div class="row banner-div">

        </div>
    </div>


    <!--Service Section==========-->
    <div class="container">
        <div class="row my-5">
            <!--Single Service-->
            <div class="mx-auto col-md-6 col-lg-3 my-3 text-center service-div">
            <span class="service-icon ">
              <i class="fas fa-ambulance fa-2x pt-4"></i>
            </span>
                <h5 class="font-weight-bold mt-3 text-uppercase">CASH ON DELIVERY</h5>
                <p class="text-capitalize">CASH ON DELIVERY INSIDE DHAKA CITY CORPORATION</p>
            </div>
            <div class="mx-auto col-md-6 col-lg-3 my-3 text-center service-div">
            <span class="service-icon ">
              <i class="fas fa-headset fa-2x pt-4"></i>
            </span>
                <h5 class="font-weight-bold mt-3 text-uppercase">CUSTOMER SERVICE</h5>
                <p class="text-capitalize">24/7 DEDICATED CUSTOMER SERVICE AGENT</p>
            </div>
            <div class="mx-auto col-md-6 col-lg-3 my-3 text-center service-div">
            <span class="service-icon ">
              <i class="fas fa-shield-alt fa-2x pt-4"></i>
            </span>
                <h5 class="font-weight-bold mt-3 text-uppercase">SECURE PAYMENT</h5>
                <p class="text-capitalize">100% SECURE PAYMENT PROCESS & NO HIDDEN CHARGE</p>
            </div>

        </div>
    </div>
    <!---End of Service Section --->







{% endblock %}