{% extends 'main.html' %}

{% load static %}

{% block content %}


<div class="container vh-100">
    <div class="row my-5">
        <div class="col-md-12">
            <h2 class="text-center"><b>Product Issue List</b></h2>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr class="table-success">
                    <th scope="col">SL No</th>
                    <th scope="col">Issue No</th>
                    <th scope="col">Creator</th>
                    <th scope="col">Date</th>
                    <th scope="col">Description</th>
                    <th scope="col">Product</th>
                    <th scope="col">Total Qty</th>
                    <th scope="col">Production Cost</th>
                    <th scope="col">Unit Price</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for p_issue in productIssue %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ p_issue.issue_no }}</td>
                    <td>{{ p_issue.creator.first_name }} &nbsp; {{ p_issue.creator.last_name }}</td>
                    <td>{{ p_issue.date }}</td>
                    <td>{{ p_issue.description }}</td>
                    <td>{{ p_issue.product.product_name }}</td>
                    <td>{{ p_issue.total_qty }}</td>
                    <td>{{ p_issue.production_cost }}</td>
                    <td>{{ p_issue.unit_price }}</td>
                    <td>
                        <button class="btn btn-outline-info"><a href="{% url 'valueChainApp:product-issue-details' p_issue.id %}">Details</a></button>
                    {% if p_issue.status != 'COMPLETE' %}
                        <button class="btn btn-outline-info"><a href="{% url 'valueChainApp:create-raw-materials' %}">Add Materials</a></button>
                        <button class="btn btn-outline-info"><a href="{% url 'valueChainApp:add-production-cost' %}">Add Cost</a></button>
                    {% else %}
                        <button class="btn btn-outline-success" disabled>{{ p_issue.status }}</button>
                        <button class="btn btn-outline-info"><a href="{% url 'valueChainApp:create-stock-entry' p_issue.id %}">Stock Entry</a></button>

                    {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <button><a href="{% url 'valueChainApp:create-product-issue' %}">Add Product Issue</a></button>
        </div>
    </div>
</div>


{% endblock %}
