{% extends 'main.html' %}

{% load static %}

{% block content %}


<div class="container vh-100">
    <div class="row my-5">
        <div class="col-md-12">
            <p><b>Purchase Receipt No: </b> &nbsp; {{ purchase_receipt.purchase_receipt_no }}</p>
            <p><b>Creator: </b> &nbsp; {{ purchase_receipt.creator.first_name }}</p>
            <p><b>Date: </b> &nbsp; {{ purchase_receipt.date }}</p>
            <p><b>Description: </b> &nbsp; {{ purchase_receipt.description }}</p>
            <p><b>Product Issue No: </b> &nbsp; {{ purchase_receipt.product_issue.issue_no }}</p>
            <p><b>Raw Materials No: </b> &nbsp; {{ purchase_receipt.raw_materials.raw_materials_no }}</p>
            <p><b>Purchase Order No: </b> &nbsp; {{ purchase_receipt.purchase_order.purchase_order_no }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr class="table-success">
                    <th scope="col">SL No</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">UOM</th>
                    <th scope="col">QTY</th>
                    <th scope="col">Rate</th>

                </tr>
                </thead>
                <tbody>
                {% for pr in purchase_receipt_products %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ pr.product.product_name }}</td>
                    <td>{{ pr.uom }}</td>
                    <td>{{ pr.qty }}</td>
                    <td>{{ pr.rate }}</td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>

{% endblock %}
