{% extends 'main.html' %}

{% load static %}

{% block content %}


<div class="container">
    <div class="row py-5">
        <div class="col-md-12">
            <h2 class="text-center"><b><u>Product Issue List</u></b></h2>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr class="table-success">
                    <th scope="col">SL No</th>
                    <th scope="col">Sales Order No</th>
                    <th scope="col">Creator</th>
                    <th scope="col">Date</th>
                    <th scope="col">Description</th>
                    <th scope="col">Total Qty</th>
                    <th scope="col">Total</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for so in salesOrderList %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ so.sales_order_no }}</td>
                    <td>{{ so.creator.first_name }} &nbsp; {{ so.creator.last_name }}</td>
                    <td>{{ so.date }}</td>
                    <td>{{ so.description }}</td>
                    <td>{{ so.total_qty }}</td>
                    <td>{{ so.total }}</td>
                    <td>{{ so.status }}</td>
                    <td>
                    {% if so.status == 'OPEN' %}
                        <button class="btn btn-outline-info"><a href="{% url 'valueChainApp:create-delivery-challan' so.id %}">Delivery Challan</a></button>
                    {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}
