{% extends 'main.html' %}

{% load static %}

{% block content %}


<div class="container vh-100">
    <div class="row my-5">
        <div class="col-md-12">
            <p><b>Sales Order No: </b> &nbsp; {{ sales_order.sales_order_no }}</p>
            <p><b>Creator: </b> &nbsp; {{ sales_order.creator.first_name }}</p>
            <p><b>Date: </b> &nbsp; {{ sales_order.date }}</p>
            <p><b>Description: </b> &nbsp; {{ sales_order.description }}</p>
            <p><b>Status: </b> &nbsp; {{ sales_order.status }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr class="table-success">
                    <th scope="col">SL No</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">UOM</th>
                    <th scope="col">QTY</th>
                    <th scope="col">Rate</th>

                </tr>
                </thead>
                <tbody>
                {% for so in sales_order_products %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ so.product.product_name }}</td>
                    <td>{{ so.uom }}</td>
                    <td>{{ so.qty }}</td>
                    <td>{{ so.rate }}</td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>

{% endblock %}
