{% extends 'main.html' %}

{% load static %}

{% block content %}


<div class="container">
    <div class="row py-5">
        <div class="col-md-12">
            <h2 class="text-center"><b><u>Stock Entry List</u></b></h2>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr class="table-success">
                    <th scope="col">SL No</th>
                    <th scope="col">Stock Entry No</th>
                    <th scope="col">Creator</th>
                    <th scope="col">Date</th>
                    <th scope="col">Description</th>
                    <th scope="col">Product Issue No</th>
                    <th scope="col">Product name</th>
                    <th scope="col">UOM</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Total</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for se in stockEntryList %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ se.stock_entry_no }}</td>
                    <td>{{ se.creator.first_name }} &nbsp; {{ rawMat.creator.last_name }}</td>
                    <td>{{ se.date }}</td>
                    <td>{{ se.description }}</td>
                    <td>{{ se.product_issue.issue_no }}</td>
                    <td>{{ se.product.product_name }}</td>
                    <td>{{ se.uom }}</td>
                    <td>{{ se.qty }}</td>
                    <td>{{ se.rate }}</td>
                    <td>{{ se.total }}</td>
                    <td>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
